.goods-count {
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .minus,
  .plus {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    position: relative;
  }
  .minus {
    margin-right: 12.5px;
    background-image: url(https://p0.meituan.net/openhfiveimages/86a6957f27823b06a23c26be8aea5579725.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .plus {
    margin-left: 12.5px;
    background-image: url(https://p0.meituan.net/openhfiveimages/9daf1aae3cc53f1597c659262cc49545610.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
